.card {
    width: 90px;
    height: 180px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: none;
    cursor: pointer;
    position: relative;
}

.card:hover {
    outline: 1px solid yellow;
}

.no-hover {
    pointer-events: none;
}

.inimigo-selecionavel::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    outline: 1px solid red;
    transition: all 2s;
}

.inimigo-selecionavel:hover {
    outline: 5px solid red;
}

.card-selected {
    outline: 5px solid yellow;
}

.card-selected:hover {
    outline: 5px solid yellow;
}

.card-img {
    width: 80px;
    height: 80px;
    object-fit: contain;
}

.title {
    font-size: 10px;
    font-weight: bold;
    text-align: center;
    margin-top: 5px;
}

.text {
    font-size: 10px;
    font-weight: bold;
    color: #fff;
}

.icon {
    width: 12px;
    height: 12px;
}

.atk {
    width: 70px;
    height: 20px;
    background: linear-gradient(to right, #9E7771, #FF2200);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5px;
    margin-bottom: 5px;
}

.hearth {
    width: 70px;
    height: 20px;
    background: linear-gradient(to right, #72B140, #314B1B);
    display: flex;
    align-items: center;
    justify-content: space-between;
    
    padding: 0 5px;
}

/*Botões*/

.container-select-options{
    position: absolute;
    bottom: 190px;
    display: flex;
}

.btn {
    width: 60px;
    height: 30px;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.btn-atk {
    background: linear-gradient(to right, #EE0000, #FF2200);
}

.btn-atk:hover {
    background: linear-gradient(to left, #EE0000, #FF2200);
}

.btn-dice {
    background: linear-gradient(to right, #72B140, #314B1B);
}

.btn-dice:hover {
    background: linear-gradient(to left, #72B140, #314B1B);
}

.btn-details {
    background: linear-gradient(to right, #515460, #1D3FC7);
}

.btn-details:hover {
    background: linear-gradient(to left, #515460, #1D3FC7);
}

.no-action {
    cursor: not-allowed;
    background-color: #CCCCCC;
    color: white;
    pointer-events: none;
}

.text-btn {
    font-size: 12px;
    font-weight: bold;
    color: white;
}


/* CSS DO DADO */

.dice-container {
    position: absolute;
    top: 0;
    display: flex;
    width: 100%;
}

.dice {
    width: 20px;
    height: 20px;
    border-radius: 2px;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 2px 2px;
    margin-left: 5px;
    color: white;
}

.dice-green {
    background-color: green;
}

.dice-red {
    background-color: #EE0000;
}

.dead {
    width: 90px;
    height: 180px;
    padding: 5px;
    background-color: transparent;
    pointer-events: none;
    z-index: 1000;
    animation: flashRed 3s;
}

@keyframes flashRed {
    0%,10%,20%,30%,40%,50%,60%,70%,80%,90%,100% {
      background-color: transparent;
    }
    5%,15%,25%,35%,45%,55%,65%,75%,85%,95% {
      background-color: red;
    }
}