<div class="background-image-div">
    <!-- Mensagens em cima na esquerda -->
    <div class="container-info">
        <div class="info">
            <p>Turno {{acctions.turn}}</p>
        </div>
    </div>
    <!-- Campo de Batalha -->
    <!-- Oponente -->
    <div class="space-opponent-cards">
        <div class="space-card" *ngFor="let card of acctions.opponent">
            <mini-card 
                [character]="card"
                (characterDetails)="showDetails($event)"
                (rollDice)="rollDice($event)"
                [ally]="false"
                [battle]="battle"
                (foiAtacado)="foiAtacado($event)"
            ></mini-card>
        </div>
    </div>
    <!-- Campo Oponente -->
    <div class="space-battle-cards-opponent">
        <div class="space-card"></div>
        <div class="space-card"></div>
        <div class="space-card"></div>
        <div class="space-card"></div>
        <div class="space-card"></div>
    </div>
    <!-- Campo Aliado -->
    <div class="space-battle-cards-ally">
        <div class="space-card"></div>
        <div class="space-card"></div>
        <div class="space-card"></div>
        <div class="space-card"></div>
        <div class="space-card"></div>
    </div>
    <!-- Aliado -->
    <div class="space-ally-cards">
        <div class="space-card" *ngFor="let card of acctions.ally">
            <mini-card 
                [character]="card"
                (characterDetails)="showDetails($event)"
                (rollDice)="rollDice($event)"
                [ally]="true"
                (attack)="quemAtacou($event)"
                [battle]="battle"
                [opponentTurn]="turnoOponente"
            ></mini-card>
        </div>
    </div>
    <!-- Mensagens em baixo na esquerda -->
    <div class="fases" *ngIf="!turnoOponente">
        <button class="btn-fases btn-itens btn-ativo-itens" (click)="onAcction(1)">
            <p class="my-turn-text txt-itens">Você pode<br/>GIRAR OS DADOS!</p>
        </button>
        <button class="btn-fases btn-batalha btn-ativo-batalha" (click)="onAcction(2)">
            <p class="my-turn-text txt-batalha">Você pode <br/>BATALHAR!</p>
        </button>
        <button class="btn-fases btn-fim" (click)="onAcction(3)" [ngClass]="{'btn-ativo-fim': acction === 3}">
            <p class="my-turn-text txt-fim">Finalize sua jogada</p> 
        </button>
    </div>
    <div class="fases" *ngIf="turnoOponente">
        <button class="btn-fases btn-batalha btn-ativo-batalha no-hover">
            <p class="my-turn-text txt-batalha">Vez do Oponente</p>
        </button>
    </div>
</div>

<!-- Card detalhado -->
<card-detail *ngIf="showCard" [character]="characterDetail" (closeDetails)="closeDetails()" [attackAnimation]="attackAnimation"></card-detail>

<!-- Mensagens de batalha-->
<messages-battle *ngIf="showMsg" [msg]="msg" (closeModal)="closeMsg()"></messages-battle>

<!-- Som da batalha-->
<audio autoplay loop>
    <source src="assets/sounds/battle-song.mp3" type="audio/mp3">
</audio>

<dice *ngIf="showDice" (close)="closeDiceModal($event)"></dice>

<game-over *ngIf="showGameOverModal" [resultMessage]="finalResult"  (close)="closeGameOver()"></game-over>

<!--battle-animation *ngIf="showBattleField" [attacker]="cardQueAtacou" [defenser]="cardQueFoiAtacado"></battle-animation-->